## Page par Jul.
ErrorDocument 404 /boutique/page-introuvable.html
## Ce fichier sert au bon fonctionnement de la page erreur 404, il va rediriger vers le lien de la page indiquée, si l'utilisateur essaye d'accéder à une page qui n'existe pas.