/* CSS par Jul */
/* Page index */
/* Header */
header
{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100px;
    background-color: #81a978;
    display: flex;
    justify-content: space-around;
}
header .navigation
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
header .navigation li
{
    list-style: none;
    margin: 0 10px;
}
header .logo-header
{
    position: relative;
}
header .navigation li a
{
    color: white;
    text-decoration: none;
    font-weight: 10;
    letter-spacing: 1px;
}
header .navigation li a:hover
{
    color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
.livraison-text
{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    animation: animate 0.5s linear infinite;
}
.livraison-text-zone
{
    display: flex;
    align-items: center;
}
@keyframes animate
{
    0%
    {
      opacity: 0;
    }
    50%
    {
      opacity: 0.7;
    }
    100%
    {
      opacity: 0;
    }
}
.logout
{
    height: 50px;
    width: 50px;
}
/* Fin du header */
/* Mise en page */
.diapo-zone
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.diapo
{
    height: 50%;
    width: 50%;
}
.mascotte-zone
{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 4%;
    
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&display=swap');
.mascotte-titre
{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
/* Background */
body
{
    background-color: #358028;
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}